<a
  *ngIf="data.getChildren().length == 0"
  [routerLink]="[data.getRouterLink()]"
>
  <i class="{{ data.getIcon() }}"></i> <span>{{ data.getTitle() }}</span>
</a>
<a
  *ngIf="data.getChildren().length > 0"
  href="#"
>
  <i class="{{ data.getIcon() }}"></i> <span>{{ data.getTitle() }}</span>
  <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
</a>
<ul class="treeview-menu" *ngIf="data.getChildren().length > 0">
  <li app-sidebar-menu-child-item
      *ngFor="let sidebarMenuChildItem of data.getChildren()"
      [data]="sidebarMenuChildItem"
      [ngClass]="{'treeview': sidebarMenuChildItem.getChildren().length > 0}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
  ></li>
</ul>
